 /* Styling for login form */
 body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	background-size: cover;
	background-image: url(img/Model\ 4.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
  }
  .slide {
	width: 300px;
	padding: 20px;
	background-color:#b3480082; /* Transparent orange */
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .slide h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
  }
  .slide form {
	display: flex;
	flex-direction: column;
  }
  .slide input {
	margin-bottom: 10px;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  .slide button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #d2601a;
	color: white;
	cursor: pointer;
  }
  .toggle-container {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 10px;
  }
  .toggle-container label {
	font-size: 12px;
	color: #fff;
	margin-left: 5px; /* Membuat jarak antara checkbox dan teks */
  }
  .toggle-container input {
	cursor: pointer;
  }
    /* Styling for sign-in form */
	body {
		font-family: Arial, sans-serif;
		background-color: #f2f2f2;
		background-size: cover;
		background-image: url(img/Model\ 3.png);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0;
	  }
	  .form-box {
		width: 300px;
		padding: 20px;
		background-color: #b3480082; /* Transparent orange */
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	  }
	  .form-box h2 {
		text-align: center;
		margin-bottom: 20px;
		color: #fff;
	  }
	  .form-box form {
		display: flex;
		flex-direction: column;
	  }
	  .form-box input {
		margin-bottom: 10px;
		padding: 8px;
		border-radius: 5px;
		border: 1px solid #ccc;
	  }
	  .form-box button {
		padding: 10px;
		border-radius: 5px;
		border: none;
		background-color: #d2601a;
		color: white;
		cursor: pointer;
	  }
	  .checkbox-container {
		display: flex;
		align-items: center;
	  }
	  .checkbox-container label {
		margin-left: 5px;
		font-size: 12px;
		color: #fff;
	  }