@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root
{
	--black: #b34800;
	--light-color: #d2601a;
	--box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
*
{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	text-transform: capitalize;
	transition: all .2s linear;
}
html
{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
/*navbar style start*/
header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--black);
	padding: 1rem 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--box-shadow);
	z-index: 10000;
}
header .logo img 
{
	height: 75px;
}
header .navbar a 
{
	font-size: 1.7rem;
	padding: .5rem 1.5rem;
	color: #d9a07c ;
	border: .1rem solid transparent;
}
header .navbar a.active,
header .navbar a:hover
{
	color: #fff;
	border: .1rem solid #d2601a(205, 170, 124, 0.2);
	border-color: #d2601a;
	background-color: #d2601a;
} 
header .icons i 
{
	cursor: pointer;
	margin-left: .5rem;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	background: var(--light-color);
	text-align: center;
	font-size: 1.7rem;
	color: #fff;
}
header .icons i:hover
{
	color: #fff;
	background: var(--light-color);
	transform: rotate(360deg);
}
header .icons #menu
{
	display: none;
	
}

.user-logo {
    cursor: pointer;
	margin-left: .5rem;
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	background: var(--light-color);
	text-align: center;
	font-size: 2rem;
	color: #fff;
}
/* Gaya tombol Login dan Sign In */
.menu-links a {
    color: #e5e5e5; /* Warna teks */
    padding: 8px 15px; /* Padding di sekitar teks */
    transition: background-color 0.3s; /* Animasi perubahan warna latar belakang */
}

.menu-links a:hover {
    background-color: var(--light-color);
    color: #fff; /* Warna teks saat dihover */
}

/*navbar style end here*/

/*slider style start*/
.home .home-slider .slide
{
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: flex-start;
}
.home .home-slider .slide1 
{
	background: url(img/backgroundnasi.jpg);
}
.home .home-slider .slide2
{
	background: url(img/kerak\ telor.png);
}
.home .home-slider .slide3
{
	background: url(img/kumpulan\ makanan.jpg);
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3
{
	background-size: cover;
	background-repeat: no-repeat;
}
.home .home-slider .slide .content
{
	text-align: center;
	padding-left: 9rem;
}
.home .home-slider .slide .content h3
{
	color: var(--light-color);
	font-size: 3rem;
	font-weight: 300;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
}
.home .home-slider .slide .content h1
{
	color: #d2601a;
	font-size: 8rem;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
}
.home .home-slider .slide .content p 
{
	color:  #d2601a;
	font-weight: bold;
	font-size: 1.8rem;
	letter-spacing: 1px;
	padding: .5rem 0;
	line-height: 1.5;
	font-weight: 200;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}
.btn
{
	margin-top: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	color: #fff;
	border: .1rem solid #d2601a(205,170,124,0.2);
	background: transparent;
	cursor: pointer;
	padding: .8rem 3rem;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.btn:before
{
	content: '';
	width: 100%;
	height: 100%;
	background: var(--light-color);
	z-index: -1;
	position: absolute;
	top: 0;
	left: -100%;
	transition: .5s;
}
.btn:hover.btn:before
{
	left: 0;
}
.swiper-pagination-bullet
{
	background: var(--light-color)!important;
	width: 15px!important;
	height: 15px!important;
	border-radius: 0!important;
}

/*slider style end*/

/*welcome style start*/
section
{
	padding: 8rem 9%;
}
.heading
{
	text-align: center;
	color: var(--black);
	font-size: 4.5rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: 1.3px;
}
.sub-heading
{
	text-align: center;
	color: white;
	font-size: 2.5rem;
	padding: .5rem 2rem;
	font-weight: 300;
	margin-bottom: 4rem;
	background: var(--black);
	display: inline-block;
}

.welcome .box-container
{
	display: flex;
	gap: 1.5rem;
}
.welcome .box-container .box
{
	width: 33%;
	background: var(--black);
	box-shadow: var(--box-shadow);
	text-align: center;
	padding-bottom: 1%;
	
}
.welcome .box-container .box .image
{
	height: 25rem;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.welcome .box-container .box .image img 
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.welcome .box-container .box .image:hover img 
{
	transform: scale(1.1);
}
.welcome .box-container .box .content 
{
	padding: 2rem;
	padding-top: 2rem;
}
.welcome .box-container .box .content h3
{
	color: white;
	font-size: 2.2rem;
	font-weight: 400;
}
.welcome .box-container .box .content p 
{
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
	padding: 1.2rem 0;
	line-height: 1.5;
}
/*welcome style end*/

/*our-menu style start*/
.our-menu
{
	background: url(our-menu-bg-1.png) left top no-repeat, url(img/our-menu-bg-3.jpg);

}
.our-menu .menu-container
{
	padding: 3rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(50rem,2fr));
	gap: 5rem 10rem;
}
.our-menu .menu-container .item .item-name
{
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	margin-top: .5rem;
}
.our-menu .menu-container .item .menu-item
{
	padding: .5rem 0;
}
.our-menu .menu-container .item .item-name h2
{
	font-size: 3rem;
	color:white;
	font-weight: 300;
}
.our-menu .menu-container .item .item-menu h3
{
	font-size: 2rem;
	color: white;
	font-weight: 200;
	display: inline-block;
}
.our-menu .menu-container .item .item-menu span 
{
	width: 37%;
	display: inline-block;
	border: 1px dotted white;
}
.our-menu .menu-container .item .item-menu ul 
{
	display: flex;
	font-size: 1.5rem;
	list-style: none;
	padding: .8rem 0;
	font-weight: 200;
}
.our-menu .menu-container .item .item-menu ul li a 
{
	color: white;
}

/*our-menu style ends*/

/*Menu*/

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color:  #d2601a;
}

.menu h1 span{
    color:  #d2601a;
    margin-left: 25px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 3px;
    background:  #d2601a;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color:  #d2601a;
    cursor: pointer;
    text-shadow: 0 0 6px  #d2601a;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color:  #d2601a;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 80%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 30px;
    color:  #d2601a;
}

.menu .menu_box .menu_card .menu_info a{
    text-align: center;
    margin-top: 10px;
    line-height: 21px;
	font-size: 15px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 15px;
	font-size: 25px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color:  #d2601a;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background:  #d2601a;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}
/*Menu end*/


/*our team style start*/
  .brand{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 9rem;
	margin-bottom: 5rem;
  }
  .brand img{
	width: 180px;
	height: 100px;
  }
  .brand h2{
	font-size: 20px;
	width: 900px;
  }
  
  .team h2{
	font-size: 30px;
	font-weight: 500;
  }
  h3 {
	color: black, white;
	font-size: 24px;
	margin: 4px 0px;
  }
  
  h4 {
	color: white;
	font-size: 20px;
	margin: 4px 0px;
  }
  
  .back p {
	color: white;
	font-size: 24px;
	margin: 4px 20px;
  }
  
  .baris{
	margin: 40px 40px;
	display: flex;
	flex-wrap: wrap;   
	justify-content: space-around;
  }
  
  .front img{
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin: 12px 0px;
  }
  
  
  .flip_card {
	border-radius: 20px;
	background-color: transparent;
	width: 350px;
	height: 350px;
	margin: 20px 20px;
	perspective: 1000px;
  }
  
  .flip {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	border-radius: 20px;
  }
  
  .flip_card:focus {
	outline: 0;
  }
  
  .flip_card:hover .flip,
  .flip_card:focus .flip{
	transform: rotateY(180deg);
  }
  
  .front,
  .back {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 20px;
  }
  
  .front {
	display: flex;
	flex-direction: column;
	background-color: #b34800;
	color: white;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .back {
	display: flex;
	flex-direction: column;
	background-color: #d2601a;
	color: white;
	transform: rotateY(180deg);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  @media (max-width: 950px){
	.brand h2{
		font-size: 16px;
		width: 580px;
	}
  }
/*our team style ends*/

/*reservation style start*/
.reservation
{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.reservation .image
{
	width: 55%;
	background: url(img/Reservasi.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 9rem;
}
.reservation .form 
{
	background: #b34800;
	width: 45%;
	padding: 9rem 7%;
}
.reservation .form h1
{
	color: #fff;
}
.reservation .form-holder
{
	display: flex;
	grid-gap: 3rem;
	width: 100%;
}
.reservation .form form input,
.reservation .form form select
{
	display: block;
	margin: 2rem 0;
	width: 100%;
	background: none;
	border-bottom: .1rem solid white;
	color: white;
	font-size: 1.8rem;
	font-weight: 300;
}
.reservation .form form input:placeholder
{
	color:white;
	text-decoration-color: #fff;
}
/*reservation style end*/

/*footer style start*/
.footer
{
	background-color: #b34800;
	text-align: center;
	color: white;
	font-size: 1.3rem;
}
.footer .container
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem,2fr));
	color: white;
	grid-gap: 1rem;
	padding: 4rem 0;
	border-bottom: 1px solid white;
}
.footer .container div
{
	padding: 0 7rem;
}
.footer .container h3
{
	color: #fff;
	font-size: 1.5rem;
	padding-bottom: .8rem;
}
.footer .container input
{
	width: 100%;
	border: 1px solid white;
	padding: .5rem .8rem;
	background: transparent;
	border-radius: 20px;
	color: white;
}
.footer .container ul 
{
	list-style: none;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}
.footer .container ul li a 
{
	color: white;
	margin-left: 10px;
	font-size: 18px;
}
.footer .container span 
{
	display: block;
}
/*footer style ends*/



/*custom scroll bar*/

::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track{
	background:  #ffffff;
}
::-webkit-scrollbar-thumb{
	background: #d2601a;
}

/*jump to top*/
.topbtn
{
	position: fixed;
	right: 2%;
	bottom: 10%;
	width: 30px;
	height: 30px;
	background: #d2601a;
	color: #fff;
	cursor: pointer;
}


/*media query*/
@media (max-width: 991px)
{
	html
	{
		font-size: 55%;
	}
	header
	{
		padding: 1rem 2rem;
	}
	header .logo img
	{
		height: 7rem;
	}
	.our-menu .menu-container
	{
		grid-template-columns: repeat(auto-fit,minmax(30rem,2fr));
	}
	.our-menu .menu-container .item .item-menu span 
	{
		width: 15%;
	}

}
@media (max-width: 768px)
{
	/*navbar media query*/
	header .logo img
	{
		height: 7rem;
	}
	header .icons #menu
	{
		display: inline-block;
	}
	header .navbar
	{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background: #eee;
		border-top: .1rem solid rgba(205,170,124,0.2);
		border-bottom: .1rem solid rgba(205,170,124,0.2);
		padding: 1rem;
		clip-path: polygon(0 0,100% 0,100% 0,0 0);
	}
	header .navbar.active
	{
		clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
	}
	header .navbar a 
	{
		display: block;
		padding: 1.5rem;
		margin: 1rem;
		font-size: 2rem;
		background: var(--black);
	}

	

	/*slider media query*/
	.home .home-slider .slide
	{
		justify-content: center;
		height: 80vh;
	}
	.home .home-slider .slide .content
	{
		padding: 0;
	}
	.home .home-slider .slide .content h1
	{
		font-size: 7rem;
	}

	/*welcome section*/

	.welcome .box-container
	{
		flex-wrap: wrap;
	}
	.welcome .box-container .box 
	{
		width: 100%;
	}
	.reservation .image
	{
		width: 0;
	}
	.reservation .form
	{
		width: 100%;
	}
	.reservation .form .form-holder
	{
		display: block;
	}
}